# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Project folders
# =========================
input/
output/
temp/
# =========================
# Media files (never commit)
# =========================
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.mp3
*.wav
*.aac
*.flac

# =========================
# Logs
# =========================
*.log